<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
  <meta name="google" content="notranslate" />
  <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
    <%- include('partials/drawer-top') %>
    <h2 class="w-full text-3xl font-bold mb-6">Welcome back, <%- user.username %></h2>
    <!-- Stats -->
    <div class="flex flex-col w-full gap-4 mb-6 md:flex-row md:flex-wrap">
      <div class="stats rounded-lg stat-shadow grow">
        <div class="stat">
          <div class="stat-title text-xs uppercase tracking-wide flex content-center gap-2 mb-2">
            <div class="inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M208,208H48a16,16,0,0,1-16-16V80A16,16,0,0,1,48,64H80L96,40h64l16,24h32a16,16,0,0,1,16,16V192A16,16,0,0,1,208,208Z" fill="none" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" class="stroke-current"></path><circle cx="128" cy="132" r="36" fill="none" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" class="stroke-current"></circle></svg>
            </div>
             <span class="leading-5">Shoots this week</span>
          </div>
          <div class="stat-value opacity-100"><%- numShoots %> <span class="font-normal">Shoots</span></div>
        </div>
      </div>
      <div class="stats rounded-lg stat-shadow grow">
        <div class="stat">
          <div class="stat-title text-xs uppercase tracking-wide flex content-center gap-2 mb-2">
            <div class="inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M122.7,25.9,42,42,25.9,122.7a8,8,0,0,0,2.2,7.2L132.5,234.3a7.9,7.9,0,0,0,11.3,0l90.5-90.5a7.9,7.9,0,0,0,0-11.3L129.9,28.1A8,8,0,0,0,122.7,25.9Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="84" cy="84" r="12"></circle></svg>
            </div>
             <span class="leading-5">Items this week</span>
          </div>
          <div class="stat-value opacity-100"><%- numItems %> <span class="font-normal">Items</span></div>
        </div>
      </div>
      <div class="stats rounded-lg stat-shadow grow">
        <div class="stat">
          <div class="stat-title text-xs uppercase tracking-wide flex content-center gap-2 mb-2">
            <div class="inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><rect x="32" y="48" width="192" height="160" rx="8" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" class="stroke-current"></rect><path d="M32,168l50.3-50.3a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,0,11.4,0l20.6-20.6a8,8,0,0,1,11.4,0L224,184" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" class="stroke-current"></path><circle cx="156" cy="100" r="12" class="fill-current"></circle></svg>
            </div>
             <span class="leading-5">Shots this week</span>
          </div>
          <div class="stat-value opacity-100"><%- numShots %> <span class="font-normal">Shots</span></div>
        </div>
      </div>
    </div>

    <h3 class="w-full mb-2 text-xl">This Week's Shoots</h3>
    <div class="w-full overflow-x-auto">
        <table class="table w-full stat-shadow">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Content Type</th>
              <th>Date(s)</th>
              <th>Shot Count</th>
            </tr>
          </thead>
          <tbody>
            <% shoots.forEach( el => { %>
                <tr class="hover" data-id="<%=el._id%>">
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div style="background-image:url( <%- `https://source.boringavatar.com/marble/120/${el.startDate.toLocaleDateString([], { month: 'short', timeZone: 'UTC' })}%20${el.startDate.toLocaleDateString([], { day: '2-digit', timeZone: 'UTC' })}?colors=bebdf7,9bc5ff,9bd9fe,adeabc,ffeb99,fedba5,ffabbb,fab6e3&square=true"` %> );" class="mask mask-squircle w-12 h-12">
                          <a href="/shoot/<%=el._id%>">
                            <p class="mt-2 text-black font-black tracking-wider text-center text-xs leading-tight uppercase"><%= el.startDate.toLocaleDateString([], { month: 'short', timeZone: 'UTC' }) %></p> 
                            <p class="text-black font-black tracking-wider text-center text-lg leading-none"><%= el.startDate.toLocaleDateString([], { day: '2-digit', timeZone: 'UTC' }) %></p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                    <td><a href="/shoot/<%=el._id%>"><%= el.shootName %></a></td>
                    <td><div class="badge <%= el.contentType %>"><a href="/shoot/<%=el._id%>"><%= el.contentType %></a></div></td> 
                    <td><a href="/shoot/<%=el._id%>"><%= el.startDate.toLocaleDateString([], { month: 'short',
                      day: '2-digit', timeZone: 'UTC' }) %><%= el.endDate - el.startDate > 0 ? ` - ${el.endDate.toLocaleDateString([], { month: 'short',
                      day: '2-digit', year: 'numeric', timeZone: 'UTC' })}` : `, ${el.startDate.toLocaleDateString([], { year: 'numeric', timeZone: 'UTC' })}` %></a></td>
                    <td>                   
                      <a href="/shoot/<%=el._id%>"><%= el.shot_list.length %></a>
                    </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

    <%- include('partials/drawer-bottom') %>
</body>
</html>

