<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
    <%- include('partials/drawer-top') %>
    <main class="flex flex-col items-start w-full">
        <div class="text-sm breadcrumbs -mt-5 mb-2 hidden md:inline-block">
            <ul>
              <li><a href="/">Dashboard</a></li> 
              <li><a href="/shoot">Shoots</a></li> 
              <li>Shoot Details - <%= shoot.shootName %></li>
            </ul>
          </div>
        <h1 class="w-full text-3xl font-bold"><%= shoot.shootName %></h1>
        <h2 class="mt-1 mb-2"><%= shoot.startDate.toLocaleDateString([], { month: 'short',
            day: '2-digit', timeZone: 'UTC' }) %><%= shoot.endDate - shoot.startDate > 0 ? ` - ${shoot.endDate.toLocaleDateString([], { month: 'short',
            day: '2-digit', year: 'numeric', timeZone: 'UTC' })}` : `, ${shoot.startDate.toLocaleDateString([], { year: 'numeric', timeZone: 'UTC' })}` %></h2>
        <div class="badge <%= shoot.contentType %>"><%= shoot.contentType %></div>
              
                <form class="my-8" action="/shots/createShot/<%=shoot._id%>" method="POST">
                    <label class="block uppercase tracking-wide text-xs mb-2" for="item">Add an item to this Shoot</label>
                        <div class="form-control">
                            <div class="input-group">
                                <select class="select select-bordered bg-gray-100 focus:outline-none focus:bg-white" id="item" name="item">
                                    <% items.forEach( el => { %>
                                    <option value="<%=el._id%>"><%=el.sku%></option>
                                    <% }) %>
                                </select>
                                <button type="submit" class="btn bg-black">+</button>
                            </div>
                        </div>
                </form>

        <h3 class="w-full mb-2 text-xl">Shot List</h3>
        <div class="w-full overflow-x-auto">
            <table class="table w-full">
                <thead>
                  <tr>
                    <th scope="col">SKU</th>
                    <th scope="col">Style Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    <% shotsData.forEach( el => { %>
                        <tr data-id='<%=el.item._id%>'>
                            <td><%= el.item.sku %></td>
                            <td><%= el.item.styleName %></td>
                            <td>                    
                                <form
                                action="/shots/deleteShot/<%= el._id %>?_method=DELETE"
                                method="POST"
                                >
                                    <button class="fa-solid fa-trash" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('partials/drawer-bottom') %>
</body>