<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
    <%- include('partials/drawer-top') %>
    <main class="flex flex-col items-start w-full">
      <div class="hidden mb-2 -mt-5 text-sm breadcrumbs md:inline-block">
        <ul>
          <li><a href="/">Dashboard</a></li> 
          <li>Shoots</li>
        </ul>
      </div>
        <h1 class="w-full text-3xl font-bold">Shoots</h1>
        <div class="collapse collapse-arrow">
          <input type="checkbox" /> 
          <div class="px-0 text-xl font-medium collapse-title">
            <h2>Add a Shoot</h2>
          </div>
          <div class="collapse-content"> 
            
            <form action="/shoot/createShoot" method="POST" class="w-full max-w-4xl">
              <div class="flex flex-wrap mb-6">
    
                <div class="w-full mb-6">
                  <label class="block mb-2 text-xs tracking-wide uppercase" for="shootName">Name</label>
                  <input type="text" id="shootName" name="shootName" placeholder="Winter 2022" required class="w-full max-w-sm bg-gray-100 input input-bordered focus:outline-none focus:bg-white"> 
                </div>
    
                <div class="w-full mb-6 md:w-1/2">
                  <label class="block mb-2 text-xs tracking-wide uppercase" for="startDate">Start Date</label>
                  <input type="date" id="startDate" name="startDate" required class="w-full max-w-sm bg-gray-100 input input-bordered focus:outline-none focus:bg-white">
                  </label>
                </div>
    
                <div class="w-full mb-6 md:w-1/2">
                  <label class="block mb-2 text-xs tracking-wide uppercase" for="endDate">End Date</label>
                  <input type="date" id="endDate" name="endDate" required class="w-full max-w-sm bg-gray-100 input input-bordered focus:outline-none focus:bg-white">
                </div>
    
                <div class="w-full mb-6">
                  <label class="block mb-2 text-xs tracking-wide uppercase" for="contentType">Content Type</label>
                  <input type="text" id="contentType" name="contentType" placeholder="On-Figure" required class="w-full max-w-sm bg-gray-100 input input-bordered focus:outline-none focus:bg-white">
                  </label>
                </div>
              
                <button type="submit" class="bg-black btn">+ Add Shoot</button>
              </div>
            </form>

          </div>
        </div>
      
      <h3 class="w-full mb-2 text-xl">All Shoots</h3>
      <div class="w-full overflow-x-auto">
        <table class="table w-full">
          <thead class="">
            <tr>
              <th>Name</th>
              <th>Date(s)</th>
              <th>Content Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% shoots.forEach( el => { %>
                <tr class="hover" data-id="<%=el._id%>">
                    <td><a href="/shoot/<%=el._id%>"><%= el.shootName %></a></td>
                    <td><a href="/shoot/<%=el._id%>"><%= el.startDate.toLocaleDateString([], { month: 'short',
                      day: '2-digit', timeZone: 'UTC' }) %><%= el.endDate - el.startDate > 0 ? ` - ${el.endDate.  toLocaleDateString([], { month: 'short',
                      day: '2-digit', year: 'numeric', timeZone: 'UTC' })}` : `, ${el.startDate.toLocaleDateString([], {  year: 'numeric', timeZone: 'UTC' })}` %></a></td>
                    <td><a href="/shoot/<%=el._id%>"><%= el.contentType %></a></td> 
                    <td>                   
                      <form
                      action="/shoot/deleteShoot/<%= el._id %>?_method=DELETE"
                      method="POST"
                      >
                          <button class="fa-solid fa-trash" type="submit"></button>
                      </form>
                    </td>
                </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>

    <%- include('partials/drawer-bottom') %>
</body>